.content{
	 width: 70%;
	 margin: 30px auto 0px;
}
.jump{
	background: transparent;
	color: rgba(50,50,50,.5);
	width: 37%;
	height: 32px;
	position: relative;
	left: 32%;
	border-radius: 5px 5px;
	background-color: #fff;
	outline: 0px;
	border: 2px solid;
	margin-top: 30px;
}
.bottom{
	margin-top: 73px;
	margin-bottom: -30px;
	display: none;
}
button:focus{
    border: 2px solid #000;
}
@media(min-width: 436px) and (max-width: 768px){
    .jump{
    	width: 33%;
    	position: relative;
    	left: 35%;
    }
}
@media(min-width: 769px) and (max-width: 991px){
	.jump{
		width: 30%;
		left: 35%;
	}
}
@media(min-width: 992px){
	.jump{
		width: 21%;
		left: 38%;
	}
}

